.form {
}

.full-width {
  width: 100%;
  color: black;
}

td {
  padding-right: 8px;
}

.avatar-img {
  width: 100px;
  background-color: #aad7d9;
  border-radius: 50%;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  line-height: 1.3;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  line-height: 1.3;
  color: #5181bc;
  font-weight: 600;
  padding: 1rem 0;
}
