<mat-drawer-container class="sidebar-container" autosize>
  <mat-drawer #drawer class="sidebar-sidenav" mode="side">
    <button class="close-btn" mat-icon-button (click)="drawer.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <div class="nav-container">
      <div class="nav-item" (click)="drawer.toggle()" [routerLink]="['/']">
        <mat-icon>home</mat-icon><span>Início</span>
      </div>
      <div
        class="nav-item"
        (click)="drawer.toggle()"
        [routerLink]="['/new-client']"
      >
        <mat-icon>person_add</mat-icon> <span> Criar novo cliente</span>
      </div>
      <div
        class="nav-item"
        (click)="drawer.toggle()"
        [routerLink]="['/client-list']"
      >
        <mat-icon>list</mat-icon> <span> Lista de clientes</span>
      </div>
    </div>
  </mat-drawer>

  <mat-toolbar color="primary" class="topbar">
    <div>
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="sidebar-icon"
        aria-label="sidebar icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <span class="sidebar-spacer"></span>
  </mat-toolbar>

  <div class="main-content-container fade-down">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
